<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navigation-header">
        <ul class="link-button">
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="/templates/profile.html">Profile</a></li>
            <li><a href="http://127.0.0.1:5000/">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="centered-container">
        <h1>Welcome to <span class="yellow-text">Our</span> Work Page</h1>
        <div class="work-button">
            <a href="http://127.0.0.1:5000/">Link list</a>
            <a href="http://127.0.0.1:5001/">Stack implementation </a>
        </div>
    </div>

    <!--
    <div class="activity-section">   
        <ul class="activity-list">
            <li>
                <div class="activity-div">
                    <a href="/works" class="yellow-text">toUpperCase</a>
                </div>
            </li>
            <li>
                <div class="activity-div">
                    <a href="/areaOfcirle" class="yellow-text">Area of a Circle</a>
                </div>
            </li>
            <li>
                <div class="activity-div">
                    <a href="/areaOfTriangle" class="yellow-text">Area of a Triangle</a>
                </div>
            </li>
        </ul>
    </div>
    -->
</body>
</html>