<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navigation-header">
        <ul class="link-button">
            <li><a href="/templates/profile.html">Profile</a></li>
            <li><a href="/templates/work.html">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="member-profile-div">
        <div class="profile-div">
            <div></div>
            <h2>Jahren D. Ricamara</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“Things will work out.”</h4>
        </div>
        <div class="profile-div">
            <div class="profile-image-div">
                <img class="profile-image" src="/images/465969103_498514365929371_7933431505299656396_n.jpg" alt="">
            </div>
            <h2>Jan Roan D. Abad</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“Always there but never good enough to be there.”</h4>
        </div>
        <div class="profile-div">
            <div class="profile-image-div">
                <img class="profile-image" src="/images/466870243_600415002498589_5839342042862755354_n.jpg" alt="">
            </div>
            <h2>Chelzy Anne M. Guanlao</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“If it makes you happy, then it is not a waste of time.”</h4>
        </div>
        <div class="profile-div">
            <div></div>
            <h2>Margarette L. Vergara</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“Forge your own way; no map is needed for your journey.”</h4>
        </div>
        <div class="profile-div">
            <div></div>
            <h2>Cyrane Trisha R. Sevilla</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“If it makes you happy, then it is not a waste of time.”</h4>
        </div>
        <div class="profile-div">
            <div></div>
            <h2>Maxene Monina P. Carcillar</h2>
            <h4>BSCpE 2-2</h3>
            <h4 class="yellow-text">“Things take time”</h4>
        </div>
        <div class="profile-div">
            <div></div>
            <h2>Carl Errol G. Cabali</h2>
            <h4>BSCpE 2-2</h3>
            <h5 class="yellow-text">“Isn't everything we do in life a way to be loved a little more?”</h5>
        </div>
    </div>
</body>
</html>
