<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/styles/profile.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navigation-header">
        <ul class="link-button">
            <li><a href="/templates/index.html">Home</a></li>
            <li><a href="http://127.0.0.1:5000/">Profile</a></li>
            <li><a href="/templates/prework.html">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h1 class="members">The Members</h1>

    <!-- Profile section with image and arrows -->
    <div class="profile-container">
        <button class="arrow left-arrow" onclick="prevProfile()">&#8592;</button>
        <div class="profile-display">
            <img id="profile-image" src="/images/465969103_498514365929371_7933431505299656396_n.jpg" alt="Profile Image" class="profile-image">
            <h2 id="profile-name">Jahren D. Ricamara</h2>
            <h4 id="profile-course">BSCpE 2-2</h4>
            <h4 id="profile-quote" class="yellow-text">“Things will work out.”</h4>
            
        </div>
        <button class="arrow right-arrow" onclick="nextProfile()">&#8594;</button>
    </div>


    <script src="/scripts/profile.js"></script>
</body>
</html>
